version: '3.8'

services:
  # Service 1: Model NER
  ner-service:
    build: ./ner_service
    container_name: ner_container
    ports:
      - "8000:8000"
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - CUDA_VISIBLE_DEVICES=""
    # [PENTING 1] Mapping folder lokal ke dalam container
    volumes:
      - ./ner_service:/app
    # [PENTING 2] Override command agar pakai --reload (Auto Restart saat save)
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/docs || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  # Service 2: Agent Logic
  agent-service:
    build: ./agent_service
    container_name: agent_container
    ports:
      - "8080:8080"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - NER_SERVICE_URL=http://ner-service:8000/predict
    # [PENTING 1] Mapping folder lokal ke dalam container
    volumes:
      - ./agent_service:/app
    # [PENTING 2] Override command agar pakai --reload
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload
    depends_on:
      ner-service:
        condition: service_healthy